@media only screen and (min-width: 992px) and (max-width: 1199px)
{
    .container{
        max-width: 960px;
    }
    .tilegrid {
        height: 100px;
        width: 21.5%;
        margin-left: 17px;
        padding: 11px 12px;
        margin-right: 0;
    }
    .web-design2{
        width: 85%;
        margin-left: 55px;
    }
    .box{
        padding: 8px 8px;
    }
    .content{
        width: 60%;
    }
    .content h5{
        font-size: 16px;

    }
    .head-para h1 {
        padding: 13px 0px;
    }
    .head-para p {
        padding-bottom: 64px;
        font-size: 13px;
    }

    .web-design2 {
        width: 89%;
    }

    .para {
        
        font-size: 18px;
        padding-bottom: 12px;
        margin: 10px 8px;
       
    }
    .skills{
        width: 99%;
    }
    .testimonytxt p{
        font-size: 13px;

    }

}

@media only screen and (min-width: 768px) and (max-width: 991px)
{
.container{
    max-width: 720px;
}
.banner1 h1 {
    font-size: 27px;
}
.banner1 p {
    font-size: 19px;
}
.banner1 h3 {
    font-size: 23px;
}
.banner1 li {
    font-size: 20px;
}
.control {
    width: 98%;
    padding: 15px 12px;
    font-size: 15px;
}

.tilegrid {
    padding: 12px 15px;
    
    height: 125px;
}
.head-para p {
    padding-bottom: 77px;
    font-size: 14px;
}
.web-design2 {
    width: 94%;
    
}

.para {
    width: 78%;
    padding-bottom: 4px;
    margin: 3px 22px;
    margin-left: 21px;
}
.skills {
    padding: 110px 0px;
}

.box h3 {
    font-size: 17px;
    /* margin-bottom: -1px; */
}

.box {
    width: 32%;
    padding: 25px 10px;
    margin-right: -10%;
    margin-left: 15%;
    height: 200px;
}
}